body{
 margin: 0 auto;  
 font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1350px;
    height: 100%;
    margin: auto;
    /* background: white; */
    /* margin-left: 120px; */
    border: 10px;
    border-color: black;
}
.container-contents{
    margin-left: 120px;
}
.nav-container{
    max-width: 1350px;
    /* margin-left: 120px; */
    margin: auto;
}
nav{

    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    padding-left: 60px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
    position: relative;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    
}
#search-icon{
    font-size: 28px;
    color: #0d182b;
    margin-right: 115px;
}
#bar-icon{
    font-size: 28px;
    color: #0d182b;
    margin-right: 115px;
}
.luxterior{
    font-size: 28px;
    font-weight: 700;
    margin-left: 100px;
}
header{
    display: flex;
    /* margin: auto; */
}
.intro-text-box{
    background-color: rgb(82, 103, 116);
    z-index: 1;
    position: absolute;
    width: 500px;
    height: 320px;
    margin-top: 110px;
    border-radius: 4px;
}
.image1{
    width: 900px;
    height: 550px;
    margin-left: 270px;
    border-radius: 4px;
}
.intro-image{
    align-items: center;
}
#download-icon{
    width: 100px;
    height: 80px;
    z-index: 1;
    position: absolute;
    padding-top: 483px;
    padding-left: 1085px;
    border-radius: 3px;
    
}
#square-icon{
    width: 90px;
    height: 90px;
    z-index: -1;
    position: absolute;
    padding-top: 487px;
    padding-left: 243px;
}
.intro-text1{
    color: aliceblue;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 0px;
    padding-left: 100px;
}
.intro-text2{
    color: #fff;
    padding-left: 100px;
}
.features-heading{
    font-size: 35px;
    font-weight: 700;
    text-align: left;
    padding-left: 250px;
    padding-top: 40px;
}
.horizontal-straight-line{
    z-index: 1;
    width: 110px;
    height: 40px;
    position: absolute;
    padding-top: 75px;
    padding-left: 120px;
    font-weight: bolder;
}
.features{
    display: flex;
    max-width: 1150px;
}
#BQ{
    flex: 1;
}
#FS{
    flex: 1;
}
#WY{
    flex: 1;
}
.feature-subheading{
    font-size: 30px;
    font-weight: 550;
}
#truck-icon{
    padding-left: 30px;
    padding-top: 35px;
    padding-right: 28px;
    width: 60px;
    height: 60px;
}
#quality-icon{
    padding-top: 40px;
    padding-right: 28px;
    width: 50px;
    height: 50px;
}
#badge-icon{
    padding-left: 30px;
    padding-top: 40px;
    padding-right: 28px;
    width: 40px;
    height: 40px;
}
.experience{
    display: flex;
    padding-top: 160px;
}
.exp-image{
    width: 46%;
    flex: 1;
}
.exp-text{
    flex: 1;
}
#image2{
    width: 470px;
    height: 550px;
    border-radius: 4px;
}
#exp-heading{
    font-size: 40px;
    font-weight: 700;
}
.exp-number{
    display: flex;
    font-size: 50px;
    margin-bottom: -55px;
    font-weight: 700;
}
.exp-number-text{
    display: flex;
    width: auto;
    height: 15%;
}
.total-exp{
    flex: 1;
}
.awards{
    flex: 1;
}
.total-sold{
    flex: 1;
}
#LM-btn{
    margin: 4px 2px;
    padding: 15px 32px;
    color: black;
    border: 2px solid #030303;
}
.process{
    display: flex;
    margin-top: 120px;
}
.process-brief{
    flex: 1;
    
    
}
.process-image{
    flex: 1;

}
#image3{
    width: 500px;
    height: 650px;   
    border-radius: 4px;
}
.process-brief-head{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.process-brief-subhead{
    font-size: 30px;
}
.number{
    background-color: #5c6c78;
    font-size: 20px;
    padding: 17px 22px;
    border-radius: 50%;
    color: white;
  }
.process-heading{
    display: flex;

}
.brief{
    line-height: 25px;
    letter-spacing: 1px;
    margin-left: 65px;
    margin-right: 70px;
    font-size: 15px;
}
.brief-last{
    margin-left: 135px;
    margin-right: 70px;
    line-height: 25px;
    letter-spacing: 1px;
    font-size: 15px;
}
.process-desc{
    display: flex;
    align-items: center;
    margin-left: -30px;
}
.fb-heading-arrow{
    display: flex;
}
.fb{
    font-size: 40px;
    font-weight: 700;
    width: 400px;
    margin-top: 50px;
    flex-direction: column;
}
.l-f-arrow{
width: fit-content;
margin-left: 650px;
}
.arrow-l-f{
    width: 30px;
    height: 35px;
    margin-top: 100px;
    
    text-align: right;
}
.feedback{
    width: 100%;
    height: 500px;
    display: flex;
    margin-top: 50px;
}
.feedback-1{
    flex: 1;
    width: 530px;
    height: 400px;
    background-color: #0d182b;
    position: absolute;
    border-radius: 4px;
    color: #fff;
}
.fb-customer{
    display: flex;
}
.customer-img{
    flex: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 38px;
    margin-top: 20px;

}
.cust-name-field{
    flex: 1;
    margin-left: 48px;
}
.cust-img-div{
    width: 60px;
    height: 60px;
}
.feedback-2{
    flex: 1;
    width: 530px;
    height: 400px;
    margin-left: 590px;
    background-color: #0d182b;
    position: absolute;
    border-radius: 4px;
    color: #fff;
}
.double-quotes{
    width: 100px;
    height: 74px;
    margin-left: 38px;
}
.feedback-heading{
    font-size: 28px;
    font-weight: 500;
    margin-left: 38px;
    margin-right: 60px;
}
.feedback-brief{
    font-size: 13px;
    margin-left: 38px;
    margin-right: 15px;
}
.customer-name{
    font-size: 20px;
    margin-bottom: -13px;
}
.customer-field{
    font-size: 16px;
    font-size: 12px;
}
.subscribe{
    height: 225px;
    text-align: center;
}
.subscribe-heading{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
.subscribe-brief{
    margin-left: 370px;
    margin-right: 370px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
    display: flex;
    height: 400px;
    z-index: -1;
    background-color: #0d182b;
    color: #fff;
}
.company{
 width: 25%;
 margin-top: 100px;
 margin-left: 90px;
}
.footer-contents{
    padding-left: 80px;
    margin-top: 100px;
}
footer ul{
    list-style: none;
    display: block;
    float: left;
}
h3{
    font-weight: 550;
    margin-bottom: 10px;
    padding-left: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer ul li{
    padding-top: 10px;
}
footer ul li a{
    text-decoration: none;
    color: #fff;
    padding-left: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.subscriber-box{
    margin-top: 40px;
    margin: auto;
    background-color: rgb(red, green, blue);
    display: flex;
    padding: 10px;
    margin-left: 300px;
    margin-bottom: 600px;
    width: fit-content;
    z-index: 0;
    position: absolute;
    align-items: center;
}
.subscriber-box input{
    width: 500px;
    height: 45px;
    margin-left: 20px;
}
.subscriber-box input[type="text"]{
    font: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    padding: 10px;
}
.subscriber-box a{
    text-decoration: none;
    color: white;
    height: 30px;
    z-index: 1;
    position: absolute;
    background-color: #0d182b;
    padding: 10px 60px 10px 60px;
    margin-left: 337px;
    text-align: center;
}
.dash{
    height: 90px;
    width: 10px;
    margin-left: 58px;
  }
  .social{
    width: 30px;
    height: 30px;
    padding-left: 40px;
    padding-top: 15px;
  }

  @media (min-width: 320px) and (max-width: 425px){
    .features{
        display: block;
    }
    #BQ{
        width: 100%;
    }
  }